<section class="callback">
  <div class="callback-container container">
    <div class="setcall">
      <h2 class="callback-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
      <p class="callback-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>

      <div class="callback-recall">
        <form class="callback-form">
          <label class="callback-label" aria-label="callback tel">
            <input
              type="tel"
              name="callback-tel"
              placeholder="+380 ()"
              class="callback-input"
              pattern="5"
            />
          </label>
          <button type="submit" class="callback-btn">Recall</button>
        </form>
      </div>
    </div>
    <div class="callback-img">
      <picture>
        <source
          srcset="./img/png/img-girl.png 1x, ./img/png@2x/imggirl@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/png/img-girlx1pc.webp    1x,
            ./img/png@2x/img-girlx2pc.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/png/img-girl.png 1x, ./img/png@2x/imggirl@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/png/img-girlx1tab.webp    1x,
            ./img/png@2x/img-girlx2tab.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/png/img-girl.png 1x, ./img/png@2x/imggirl@2x.png 2x"
          media="(max-width: 375px)"
        />
        <source
          srcset="
            ./img/png/img-girlx1mob.webp    1x,
            ./img/png@2x/img-girlx2mob.webp 2x
          "
          media="(max-width: 375px)"
        />
        <img class="img-girl-call" alt="ragazza" src="./img/png/img-girl.png" />
      </picture>
    </div>
  </div>
</section>
