<header class="header">
  <div class="container header-container">
    <nav class="nav-header">
      <ul class="list-menu list">
        <li class="list-header">
          <a href="#1" class="list-link">How it works</a>
        </li>
        <li class="list-header">
          <a href="#2" class="list-link">Vegetables</a>
        </li>
        <li class="list-header">
          <a href="#3" class="list-link">Contacts</a>
        </li>
      </ul>
      <a href="" class="header-logo">
        <svg class="veggie-button" width="16" height="16">
          <use href="./img/svg/symbol-defs.svg#icon-logo"></use>
        </svg>
        <span class="header-logo-veggie">veggieboost</span></a
      >
    </nav>
    <button type="button" class="basket-button" data-modal-open="order">
      <svg class="basket-button-but" width="24" height="24">
        <use href="./img/svg/symbol-defs.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    <button class="mob-button" type="button" data-menu-open>
      <svg class="menu-button" width="24" height="24">
        <use href="./img/svg/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
