<section class="hero">
  <div class="container-hero">
    <div class="container-text-hero">
      <ul class="list-user">
        <li class="item-user ellipse-one">
          <picture>
            <source
              srcset="
                ./img/png@2x/ellipse2@2x.webp 2x,
                ./img/png/ellipse2@1x.webp    1x
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./img/png@2x/Ellipse2@2x.png 2x,
                ./img/png/Ellipse2.png       1x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/png@2x/ellipse2tablet@2x.webp 2x,
                ./img/png/ellipse2tablet@1x.webp    1x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/png/Ellipse2tablet@1x.png    1x,
                ./img/png@2x/Ellipse2tablet@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/png@2x/ellipse2phone@2x.webp 2x,
                ./img/png/ellipse2phone@1x.webp    1x
              "
              media="(max-width:767px )"
            />
            <source
              srcset="
                ./img/png/Ellipse2phone@1x.png    1x,
                ./img/png@2x/Ellipse2phone@2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img src="./img/png/Ellipse2.png" alt="asian woman" />
          </picture>
        </li>

        <li class="item-user ellipse-two">
          <picture>
            <source
              srcset="
                ./img/png@2x/ellipse3@2x.webp 2x,
                ./img/png/ellipse3@1x.webp    1x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/png/Ellipse3.png       1x,
                ./img/png@2x/Ellipse3@2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/png@2x/ellipse3tablet@2x.webp 2x,
                ./img/png/ellipse3@1x.webp          1x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/png/Ellipse3tablet@1x.png    1x,
                ./img/png@2x/Ellipse3tablet@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/png@2x/ellipse3phone@2x.webp 2x,
                ./img/png/ellipse3phone@1x.webp    1x
              "
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/png/Ellipse3phone@1x.png    1x,
                ./img/png@2x/Ellipse3phone@2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img src="./img/png/Ellipse3.png" alt="asian man" />
          </picture>
        </li>

        <li class="item-user ellipse-three">
          <picture>
            <source
              srcset="
                ./img/png@2x/ellipse4@2x.webp 2x,
                ./img/png/ellipse4@1x.webp    1x
              "
              media="(min-width:1280px )"
            />
            <source
              srcset="
                ./img/png/Ellipse4.png       1x,
                ./img/png@2x/Ellipse4@2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/png@2x/ellipse4tablet@2x.webp 2x,
                ./img/png/ellipse4tablet@1x.webp    1x
              "
              media="(min-width:768px )"
            />
            <source
              srcset="
                ./img/png/Ellipse4tablet@1x.png    1x,
                ./img/png@2x/Ellipse4tablet@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/png@2x/ellipse4phone@2x.webp 2x,
                ./img/png/ellipse4phone@1x.webp    1x
              "
              media="(max-width:767px )"
            />
            <source
              srcset="
                ./img/png/Ellipse4phone@1x.png    1x,
                ./img/png@2x/Ellipse4phone@2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img src="./img/png/Ellipse4.png" alt="asian woman" />
          </picture>
        </li>

        <li class="item-rew ellipse-four">
          <p class="how-much">2k</p>
          <p class="rew">reviews</p>
        </li>
      </ul>

      <h1 class="title-hero">
        organic <span class="span-title-hero">vegetables</span> to your diet
        today!
      </h1>
      <p class="text-hero">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button class="btn-shop-now" type="button" data-modal-open="order">
        shop <br />
        now
      </button>
    </div>
    <div class="container-photo-btn">
      <picture class="photo-girl-hero">
        <source
          srcset="
            ./img/png@2x/herogirl@2x.webp 2x,
            ./img/png/herogirl@1x.webp    1x
          "
          media="(min-width:1280px )"
        />
        <source
          srcset="./img/png/herogirl@1x.png 1x, ./img/png@2x/herogirl@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/png@2x/herogirltablet@2x.webp 2x,
            ./img/png/herogirltablet@1x.webp    1x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/png/herogirltablet@1x.png    1x,
            ./img/png@2x/herogirltablet@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/png@2x/herogirlphone@2x.webp 2x,
            ./img/png/herogirlphone@1x.webp    1x
          "
          media="(max-width:767px )"
        />
        <source
          srcset="
            ./img/png/herogirlphone@1x.png    1x,
            ./img/png@2x/herogirlphone@2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="girl-hero"
          src="./img/png/herogirl@1x.png"
          alt="girl with salat"
        />
      </picture>

      <ul class="list-character">
        <li class="item-character">
          <a class="organic link-hero" href="">#organic</a>
        </li>
        <li class="item-character">
          <a class="products link-hero" href="">#products</a>
        </li>
        <li class="item-character">
          <a class="basket link-hero" href="">#basket</a>
        </li>
        <li class="item-character">
          <a class="veget link-hero" href="">#vegetables</a>
        </li>
      </ul>
    </div>
  </div>
</section>
