<section class="vegetables-section" id="2">
  <div class="vegetables-container container">
    <h2 class="vegetables-title">ORGANIC VEGETABLES</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Carrot</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="./img/png/carrot.png 1x, ./img/png@2x/carrot@2x.png 2x"
            />
            <img
              src="./img/png/carrot.png"
              class="vegetables-img"
              alt="Carrot"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">100 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Brussel sprouts</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="./img/png/brussel.png 1x, ./img/png@2x/brussel@2x.png 2x"
            />
            <img
              src="./img/png/brussel.png"
              class="vegetables-img"
              alt="Brussel sprouts"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Tomato</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="./img/png@2x/tomato@2x.png 2x, ./img/png/tomato.png 1x"
            />
            <img
              src="./img/png/tomato.png"
              class="vegetables-img"
              alt="Tomato"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Eggplant</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="
                ./img/png@2x/eggplant@2x.png 2x,
                ./img/png/eggplant.png       1x
              "
            />
            <img
              src="./img/png/eggplant.png"
              class="vegetables-img"
              alt="Eggplant"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">60 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Sweet potatoes</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="
                ./img/png@2x/potatoes@2x.png 2x,
                ./img/png/potatoes.png       1x
              "
            />
            <img
              src="./img/png/potatoes.png"
              class="vegetables-img"
              alt="Sweet potatoes"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Leek</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="./img/png@2x/leek@2x.png 2x, ./img/png/leek.png 1x"
            />
            <img
              src="./img/png/leek.png"
              class="vegetables-img"
              alt="Leek"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">50 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Mushrooms</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="
                ./img/png@2x/mushrooms@2x.png 2x,
                ./img/png/mushrooms.png       1x
              "
            />
            <img
              src="./img/png/mushrooms.png"
              class="vegetables-img"
              alt="Mushrooms"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Corn</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="./img/png@2x/corn@2x.png 2x, ./img/png/corn.png 1x"
            />
            <img
              src="./img/png/corn.png"
              class="vegetables-img"
              alt="Corn"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">60 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-item-container">
          <h3 class="vegetables-subtitle">Radish</h3>
          <p class="vegetables-plant">Plant</p>
          <picture>
            <source
              srcset="./img/png@2x/radish@2x.png 2x, ./img/png/radish.png 1x"
            />
            <img
              src="./img/png/radish.png"
              class="vegetables-img"
              alt="Radish"
              width="278"
            />
          </picture>

          <svg class="vegetabes-shadow" width="251" height="94">
            <use href="./img/svg/symbol-defs.svg#icon-Oval"></use>
          </svg>
          <p class="vegetables-cash">90 UAH / kg</p>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn-order" type="button" data-modal-open="order">
    <svg class="btn-order-svg" width="14" height="14">
      <use href="./img/svg/symbol-defs.svg#icon-vector"></use>
    </svg>
    order
  </button>
</section>
